.menuBase {
  position: fixed;
  box-shadow: -10px 0px 50px rgba(0, 0, 0, 0.2);
  top: 60px;
  bottom: 0;
  right: 0;
  background-color: #EDF2F4;
  transition: all .3s ease-in-out;
  z-index: 101; }
  .menuBase[status="open"] {
    transform: translateX(0) !important; }
    .menuBase[status="open"] .menuItems {
      transform: translateX(0);
      transform: scale(1); }
    .menuBase[status="open"] .closeMenuIcon {
      transform: rotate(180deg); }
  .menuBase h1 {
    font-size: 30px;
    text-align: center;
    color: #1D3557;
    cursor: default; }
  .menuBase .closeMenuIcon {
    color: #1D3557;
    position: absolute;
    left: 5px;
    top: 5px;
    font-size: 30px;
    cursor: pointer;
    transition: all 1s; }
  .menuBase .menuItems {
    list-style-type: none;
    color: #1D3557;
    font-size: 25px;
    transition: transform 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
    transform: translateX(100%);
    transform: scale(0); }
    .menuBase .menuItems .item {
      cursor: pointer;
      text-align: center;
      padding: 10px;
      margin: 0px 3px;
      transition: color .2s; }
      .menuBase .menuItems .item:hover {
        color: #FFF;
        background-color: #457B9D;
        border-radius: 10px; }
        .menuBase .menuItems .item:hover .menuIcon {
          color: #FFF;
          opacity: 1;
          transform: translateX(0); }
      .menuBase .menuItems .item .menuIcon {
        color: #1D3557;
        position: absolute;
        left: 10px;
        transition: all .3s;
        opacity: 0.5;
        transform: translateX(1vw); }
    .menuBase .menuItems .divider {
      background-image: radial-gradient(#1D3557, #457B9D, #EDF2F4);
      height: 2px;
      width: 90%;
      margin: 20px auto; }

@media screen and (max-width: 768px) {
  .menuBase {
    width: 100vw;
    transform: translateX(100vw);
    box-shadow: none; }
    .menuBase .divider {
      width: 70%; }
    .menuBase .menuItems li .menuIcon {
      opacity: 1;
      transform: none;
      color: #1D3557;
      left: 20%; }
      .menuBase .menuItems li .menuIcon:hover {
        color: #FFF; } }
