{% extends 'templates/base/base.html'%}
{% from "templates/macros.html" import display_form_errors with context %}
{% from 'templates/macros.html' import show_msgs with context %}
{% from 'templates/macros.html' import input_field with context %}
{# {% block id %}registerMenu{% endblock %}
{% block class %}menuForm{% endblock %}
{% block heading %}Register{% endblock %} #}
{% block content %}
<form action="{{ url_for('register') }}" method="post" class="userForm">
    <h1>Sign up</h1>
    <br>
    {{ input_field('*Username', 'far fa-user', data.forms['signup_form'].username) }}
    {{ input_field('*Password', 'fas fa-key', data.forms['signup_form'].password) }}
    {{ data.forms['signup_form'].submit }}
    <p class="grayDesc">already have an account? <a href="{{ url_for('login') }}">click here to login</a></p>

    <br>
    {{ show_msgs() }}
    {{ display_form_errors(data.forms['signup_form']) }}
    <br>


    <div class="toggleOptionalFields">
        <h3>Optional fields</h3>
        <div class="optionalFields">
            <p class="grayDesc">Fill in as much or little as you want, only username and password is required</p>
            <br>
            {{ input_field('Email', 'far fa-envelope', data.forms['signup_form'].email) }}
            {{ input_field('First name', '', data.forms['signup_form'].first_name) }}
            {{ input_field('Last name', '', data.forms['signup_form'].last_name) }}
           
        </div>
    </div>

    {{ data.forms['signup_form'].csrf_token }}
</form>
{% endblock %}
