

$darkColor: #1D3557;
$ligthColor: #EDF2F4;
$ligthColor2: #457B9D;
$primaryColor: #E63946;

$white: #FFF;
$fire: #f9bc20;
$orange: #FF6700;

$standardFont: 'Khula', sans-serif;
$postFont: 'Ubuntu';

$textFont: Verdana;
$headingFont: Verdana;



$inputColor: $darkColor;
$inputBackgroundColor: $ligthColor2;

$interactiveColor: $darkColor;
$interactiveBackgroundColor: $ligthColor2;


$menuLinkColor: $white;
$menuLinkHoverColor: $darkColor;
$headerHeight: 60px;
$menuBackColor: $ligthColor;
$headingColor: #D90429;
$ligthHeadingColor: #EF233C;
$boxShadow: 0px 10px 50px rgba(0, 0, 0, 0.4);